body {
	background-color: black;
	margin: 20px
}

h1 {
	text-align: center;
	font-family: Stamp RSPK Smudge Regular, monospace;
	color: white;
}

h4 {
	text-align: center;
	font-family: Stamp RSPK Three, monospace;
	color: white;
}

h3 {
	text-align: center;
	font-family: Stamp RSPK Smudge Regular, monospace;
	color: white;
}

p {
	text-align: center;
	font-family: Stamp RSPK Three;
	color: white;
}
